.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0d1a26;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  background: #0f2b47;
  align-items: center;
  justify-content: center;
}

.main-wrapper > p{
  color : white;
}
.my-sexy-photo{
  border-radius: 100%;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}



.text-info {
  display: flex;
  align-items: start;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin-left: 20px;
  padding: 5px;
}



.text-info > h1{
  color: #d4d5d6;
}

.text-info > h3{
  color: #636aa8;
}

.text-info > p{
  text-align: left;
  color : #d4d5d6;
}

.bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #242633;
}

.bar-wrapper > div{
  align-items: center;
  justify-content: center;
}

.bar-wrapper > div > p{
  min-width: 270px;
  margin: 0px;
  padding: 12px;
  color: #d4d5d6;
}



.bar-wrapper > div > p > a{
  color: #d4d5d6;
}

.bar-wrapper > div > p > a:hover{
  color: #40a9ff;
}

.anticon{
  font-size: 20px;
  margin: 8px;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-shadow: 0.5px 0.5px 0.5px rgba(150,150,150,1); 
}

.body-wrapper > .colum{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 360px;
  width: 45%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}
.ant-collapse{
  width: 100%;
  margin-top: 30px !important;
}
.body-wrapper > .colum > .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  color: #636aa8;
  font-weight: bold;
  font-size: 1.3em;
}

.work-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.work-wrapper > .important{
  color : #636aa8;
}
.education-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.education-wrapper > .important{
  color : #636aa8;
}

.abilities-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.abilitie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.abilitie-wrapper > p{
  background: #636aa8;
  color : white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px lightslategray;
  padding: 10px;
}
.abilitie-wrapper > p:hover{
  
  box-shadow: 5px 5px 5px lightslategray;
}
.qualification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.qualification-wrapper > p{
  min-width: 100px;
  margin: 0px;
  padding: 12px;
  color: black;
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-filled{
  height: 20px;
  width: 20px;
  background-color: #636aa8;
  border-radius: 100%;
  margin: 8px;
}

.circle-void{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 3px solid #635aa8;
  margin: 8px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #242633;
  height: 30px;
}

@media screen and (min-width: 1000px) {
  .text-info > h1 {
    font-size: 3em;
  }

  .my-sexy-photo {
    margin: 30px;
  }
}

@media screen and (max-width: 822px) {
  .main-wrapper {
    justify-content: center;
  }

  .my-sexy-photo{
    margin-left: 0px;
  }

  .text-info {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .body-wrapper > .colum{
    width: 85%;
  }
}